# Gradle 관련 파일 무시
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE 관련 (IntelliJ, Eclipse 등)
*.iml
.idea/
*.ipr
*.iws
*.classpath
*.project
.settings/

# 로그 파일
*.log

# OS 관련
.DS_Store
Thumbs.db

# 환경 설정 파일 (개인 정보 포함될 수 있음)
application-*.yml
application-*.properties

# 테스트 리포트
test-results/
test-output/
reports/

# 기타 캐시 파일
bin/
out/

# Spring Boot 실행 파일
*.jar
*.war

# VS Code 관련 설정
.vscode/

# 자바 관련
*.class

# 소나큐브
.sonar/
